@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.posts {
    width: 100%;
    max-width: 1351px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
}